@model ClienteWebMVC.Models.Persona.PersonasModel

@{
    ViewData["Title"] = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Clientes</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
        <div class="tab-pane active" id="home1">
            <form class="user" style="margin:2%">
                <div class="form-group row">

                    <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                        @Html.Hidden("id")
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="nombres"><span style="color:red">*</span>Nombres</label>
                        @Html.EditorFor(Model => Model.nombres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="apellidos">Apellidos</label>
                        @Html.EditorFor(Model => Model.apellidos, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellidos", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="estado">Estado</label>
                        @Html.CheckBoxFor(Model => Model.estado, new { @class = "form-control check", @checked = Model.estado })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="btnCrear">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                        <a class="fa fa-reply" asp-action="GetPersonas">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var apiServicioPersonas = localStorage.getItem("ServicioPersonas");
    var apiServiciosNetCore = localStorage.getItem("ServiciosNetCore");
    var update = false;
    var id = '@ViewBag.idString';

    $(document).ready(function () {
        $(".collapse-inner").select2();
        
        if (id != "") {
            update = true;
        }
    });

    $("#btnCrear").click(function () {
        //id = $("#id").val();
        
        var entidad = {
            id:0,// parseInt(id),
            nombres: $("#nombres").val(),
            apellidos: $("#apellidos").val(),
            estado: $("#estado").prop("checked"),
        }
        debugger
        if (update == false) {
            $.ajax({
                url: `${apiServicioPersonas}/api/ServicioPersonas/CreatePersona`,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (response) {
                    
                    if (response.ok) {
                        toastr.success(response.mensaje);
                    } else {
                        toastr.warning(response.mensaje);
                    }
                },
                error: function (data) {
                    
                   toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (id != "" && id != undefined && id != NaN) {
            $.ajax({
                url: `${apiServicioPersonas}/api/Personas/ActualizarPersona`,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (ok) {

                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                error: function (data) {
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

    function getPersona() {
        id= '@ViewBag.idString';
        if (id != "" && id != undefined && id != NaN) {
            var uri = `${apiServicioPersonas}/api/Personas/GetPersona`;
            var url = uri + '?' + $.param({ "buscar": "","id": id });
            $.ajax({
                url: url,
                type: 'get',
                success: function (response) {
                    
                    $("#id").val("");
                    id = "";
                    $("#primerNombre").val();
                    $("#segundoNombre").val();
                    $("#primerApellido").val();
                    $("#segundoApellido").val();
                    $("#identificacion").val();
                    $("#telefono").val();
                    $("#correo").val();
                    $("#edad").val();
                    idCiudad = "";

                    if (response.ok) {
                        toastr.success(response.message);
                        update = true;

                        id = response.persona.id;
                        $("#id").val(response.persona.id);
                        $("#primerNombre").val(response.persona.primerNombre);
                        $("#segundoNombre").val(response.persona.segundoNombre);
                        $("#primerApellido").val(response.persona.primerApellido);
                        $("#segundoApellido").val(response.persona.segundoApellido);
                        $("#identificacion").val(response.persona.identificacion);
                        $("#telefono").val(response.persona.telefono);
                        $("#correo").val(response.persona.correo);
                        $("#edad").val(response.persona.edad);
                        $("#idCiudad").val(response.persona.idCiudad);
                        idCiudad = response.persona.idCiudad;

                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                },
                error: function (jQXHR) {
                   toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

</script>
